<% provide(:title, "Log in") %>


 <div class="container mx-auto container-margin">
     <div class="row">
       <div class="col-md-12 form-signin">
          <h1 class="font-weight-normal text-center mb-3">PuppyDate</h1>
           <%= form_for(:session, url: login_path) do |f| %>
           <div class="form-signin"><%= f.email_field :email, class: "form-control", placeholder: "Email"%></div>
           <div class="form-signin"><%= f.password_field :password, class: "form-control", placeholder: "Password"%></div>
           <div class="form-signin"><%= f.submit "Log in", class: "btn btn-lg btn-primary btn-block special-btn-color" %></div>
           <% end %>
        </div>
        <div class="form-signin sign-up-now text-center">
          <p>New user? &nbsp <%= link_to "Sign up now!", signup_path%></p>
        </div>
      </div>
 </div>
