<% provide(:title, "Log in") %>
<html>
<body class="login-body">

  <div class="login-container">

    <div class="login-box">

      <h1 class="login-page-header" style="font-family: 'Baloo', cursive;"><i class="fas fa-bone"></i> PuppyDate
        <i class="fas fa-bone"> </i></h1>

      <%= form_for(:session, url: login_path) do |f| %>


      <div class="casing-bone">

        <%= f.label :email %>

        <p>
          <div class="bone">  <%= f.email_field :email, class: "stick" , id: "input-field-login", placeholder: "Email" %> </div>
        </p>

        <%= f.label :password %>

        <p>
          <div class="bone"><%= f.password_field :password, class: "stick", id: "input-field-login", placeholder: "Password" %> </div>
        </p>

      </div>

      <br>

      <p>
        <%=   f.submit "Log in", class: "submit-button" %>
      </p>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path, class: "sign-up-link"%></p>
    </div>
  </div>
</body>
</html>
