<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<style>

@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  margin: 0;
  padding: 0;
  background-image: url('assets/park.jpg');

}

h1 {

}

.login-box {
  font-family: 'Baloo', cursive;
  height: 50vh;
  width: 400px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
  background: rgb(50, 40, 22);
  color: white;
  border: 5px solid white;

}


login-box label {
  text-decoration: underline;
}


#login-tab {
  width:100%;
  background: white;
}

.login-page-header {
  font-family: 'Baloo', cursive;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}
.bone {
  background: ghostwhite;
  height: 40px;
  width: 50%;
  max-width: 300px;
  position: relative;
  text-align: center;
  display: inline-block;

}
.bone::before, .bone::after {
  content: "";
  position: absolute;
  border-radius: 50%;
  top: -20px;
  width: 40px;
  height: 40px;
  background: ghostwhite;
  box-shadow: 0 40px 0 ghostwhite;
}
.bone::before {
  left: -20px;
}
.bone::after {
  right: -20px;
}

.stick {
  background: ghostwhite;
  height: 40px;
  width: 50%;
  max-width: 300px;
  position: relative;
  background: white;
  text-align: center;
}

label {
  text-decoration: underline;
}

/* .casing-bone {
  text-align: center;
} */

.submit-button {
  font-family: 'Poppins', sans-serif !important;
  font-size: 1em;
  background-color: #ecf0f1;
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid rgb(99, 99, 99);
  padding: 14px 40px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 15%;
  }

  .submit-button:hover{
  background: rgb(44, 85, 16);
  color: whitesmoke;
  border: 2px solid whitesmoke;
  }


.sign-up-link:visited {
  color: rgb(237, 237, 237)

}










</style>

<% provide(:title, "Log in") %>
<html>
<body class="login-body">

  <div class="login-container">

    <div class="login-box">

      <h1 class="login-page-header" style="font-family: 'Baloo', cursive;"><i class="fas fa-bone"></i> PuppyDate
        <i class="fas fa-bone"> </i></h1>

      <%= form_for(:session, url: login_path) do |f| %>


      <div class="casing-bone">
<br>
        <%= f.label :email %>

        <p>
          <div class="bone">  <%= f.email_field :email, class: "stick" , id: "input-field-login", placeholder: "Email" %> </div>
        </p>

        <%= f.label :password %>

        <p>
          <div class="bone"><%= f.password_field :password, class: "stick", id: "input-field-login", placeholder: "Password" %> </div>
        </p>

      </div>

      <br>

      <p>
        <%=   f.submit "Log in", class: "submit-button" %>
      </p>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path, class: "sign-up-link"%></p>
    </div>
  </div>
</body>
</html>
