<% provide(:title, "Log in") %>
<html>
<body>

  <div>
    <div>

      <h1> PuppyDate</h1>

      <%= form_for(:session, url: login_path) do |f| %>


      <div>
        <%= f.label :email %>
        <p>
          <div>  <%= f.email_field :email, class: "stick" , id: "input-field-login", placeholder: "Email" %> </div>
        </p>

        <%= f.label :password %>

        <p>
          <div ><%= f.password_field :password, class: "stick", id: "input-field-login", placeholder: "Password" %> </div>
        </p>
      </div>
      <p>
        <%=   f.submit "Log in", class: "submit-button" %>
      </p>
      <% end %>

      <p>New user? <%= link_to "Sign up now!", signup_path, class: ""%></p>
    </div>
  </div>
</body>
</html>
