<body>
  <div>
    <div>
      <h1> Sign up!
        <i></h1>

<%= form_for(@user) do |u| %>

  <%= u.text_field :first_name, placeholder: "X:    First Name",  class: "text-line"%><br>
<br>
  <%= u.text_field :last_name, placeholder: "X:    Last Name", class: "text-line" %><br>
<br>
  <%= u.text_field :username, placeholder: "X:    Username", class: "text-line" %><br>
<br>
  <%= u.email_field :email, placeholder: "X:    Email", class: "text-line" %><br>
<br>
  <%= u.password_field :password, placeholder: "X:    Password", class: "text-line" %><br>
<br>
  <%= u.password_field :password_confirmation, placeholder: "X:    Password Confirmation", class: "text-line" %><br>
<br>
  <%= u.text_field :location_string, placeholder: "X:    Your Location", class: "text-line" %><br>
<br>
  <%= u.file_field :avatar %><br>
<br>
  <%= u.submit class: "submit-button" %>
<% end %>

</div>
</div>
</body>

<script>
$(function(){
  $(".Fname").focus();
});
</script>
