<h1>Create Account</h1>


<%= form_for(@user) do |u| %>

  <%= u.text_field :first_name, placeholder: "First Name"%><br />

  <%= u.text_field :last_name, placeholder: "Last Name" %><br />

  <%= u.text_field :username, placeholder: "Username" %><br />

  <%= u.email_field :email, placeholder: "Email" %><br />

  <%= u.password_field :password, placeholder: "Password" %><br />

  <%= u.password_field :password_confirmation, placeholder: "Password Confirmation" %><br />

  <%= u.text_field :location_string %>
<br>
  <%= u.file_field :avatar %><br>
<br>
  <%= u.submit %>
<% end %>
