<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Baloo" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins" rel="stylesheet">

<style>

@import url('https://fonts.googleapis.com/css?family=Baloo');

body {
  margin: 0;
  padding: 0;
  background-image: url('assets/park.jpg');

}

h1 {

}

.login-box {
  font-family: 'Baloo', cursive;
  /* height: 50vh; */
  width: 400px;
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 40px;
  background: rgb(50, 40, 22);
  color: white;
  border: 5px solid white;

}


login-box label {
  text-decoration: underline;
}


#login-tab {
  width:100%;
  background: white;
}

.login-page-header {
  font-family: 'Baloo', cursive;
  font-weight: bold;
  margin-bottom: 30px;
  border-bottom: 1px solid white;
}

.submit-button {
  font-family: 'Poppins', sans-serif !important;
  background: rgb(44, 85, 16);
  color: white;
  font-size: 1em;
  border: 0;
  display: block;
  margin: 20px auto;
  text-align: center;
  padding: 5px 10px;
  outline: none;
  transition: 0.25s;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 15%;
  border: 2px solid white;
  }

  .submit-button:hover{
   transform: scale(1.1); }
  }


.sign-up-link:visited {
  color: rgb(237, 237, 237);
}

.text-line {
  font-family: 'Baloo', cursive;
    background-color: transparent;
    color: #eeeeee;
    outline: none;
    outline-style: none;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: solid #eeeeee 5px;
    padding: 3px 10px;
}
::placeholder {
  color: white;
}

</style>



<body class="login-body">

  <div class="login-container">

    <div class="login-box">

      <h1 class="login-page-header" style="font-family: 'Baloo', cursive;"><i class="fas fa-bone"></i> Sign up!
        <i class="fas fa-bone"> </i></h1>

<%= form_for(@user) do |u| %>

  <%= u.text_field :first_name, placeholder: "X:    First Name",  class: "text-line"%><br>
<br>
  <%= u.text_field :last_name, placeholder: "X:    Last Name", class: "text-line" %><br>
<br>
  <%= u.text_field :username, placeholder: "X:    Username", class: "text-line" %><br>
<br>
  <%= u.email_field :email, placeholder: "X:    Email", class: "text-line" %><br>
<br>
  <%= u.password_field :password, placeholder: "X:    Password", class: "text-line" %><br>
<br>
  <%= u.password_field :password_confirmation, placeholder: "X:    Password Confirmation", class: "text-line" %><br>
<br>
  <%= u.text_field :location_string, placeholder: "X:    Your Location", class: "text-line" %><br>
<br>
  <%= u.file_field :avatar %><br>
<br>
  <%= u.submit class: "submit-button" %>
<% end %>

</div>
</div>
</body>

<script>
$(function(){
  $(".Fname").focus();
});
</script>
