<h1>Does this page work?</h1>


<%= image_tag(@user.avatar) if @user.avatar.attached?%>
<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>
<p><%= @user.location_string %></p>

<% locprofi = Location.create(address: @user.location_string )%>
<iframe width="300" height="300" frameborder="0" style="border:0"
 src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_API_KEY"] %>&q=<%= locprofi.latitude %>,<%= locprofi.longitude %>"
 allowfullscreen>
</iframe>

<br>

<% @user.posts.each do |post|%>
<p> = = = = = = = =</p>
<%= image_tag (post.picture) if post.picture.attached? %><br>
<%= post.name %><br>
<%= post.description %><br>
<% end %>





<%= link_to "Find a Pup", new_post_path %>
<%= link_to "Log out", "/logout", method: :delete %>
