<div class="jumbotron container-margin">
  <div class="container text-center">
    <h1 class="display-4 underline">All Postings</h1>
  </div>
</div>

<div class="container">
  <% @posts.reverse.each do |post|%>
  <div class="row">
    <div class="col-lg-4">
      <div class="list-group">
        <p class="list-group-item list-group-item-action"><%= image_tag (post.picture) if post.picture.attached? %></p>
        <p class="list-group-item list-group-item-action">Title: <%= post.name %></p>
        <p class="list-group-item list-group-item-action">Description: <%= post.description %></p>
        <p class="list-group-item list-group-item-action">Location: <%= post.location_string%></p>
      </div>
    </div>
    <div class="col-md-4" style="margin: 0;">
      <% pocprofi = Location.create(address: post.location_string )%>
      <iframe width="300" height="300" frameborder="0" style="border:0"
      src="https://www.google.com/maps/embed/v1/place?key=<%= ENV["GOOGLE_API_KEY"] %>&q=<%= pocprofi.latitude %>,<%= pocprofi.longitude %>"
      allowfullscreen>
      </iframe>
  </div>

  <% if session[:user_id] == post.user.id %>
  <div class="col-lg-4">
    <div class="list-group text-center">
      <p class="list-group-item list-group-item-action list-group-item-warning"><%= link_to 'Edit Post', edit_post_path(post) %></p>
    </div>
  </div>
  <% end %>
  <% unless session[:user_id] == post.user.id %>

  <div class="col-lg-4">
    <div class="list-group text-center">
      <p class="list-group-item list-group-item-action list-group-item-info"><%= link_to("Contact User", user_chats_path(current_user, :other_user => post.user.id, :post => post.id), method: :post) %><br>
      </div>
    </div>
    <% end %>
  </div>
  <hr class="hr-color">
  <% end %>
</div>
