<%if logged_in?%>

  <nav class="navbar">
    <span class="navbar-toggle" id="js-navbar-toggle">
            <i class="fas fa-bars"></i>
        </span>
    <a href="" class="logo">PUPPYDATE <i class="fas fa-bone"></i></a>
    <ul class="main-nav" id="js-menu">
      <li>
        <%= link_to "Home", root_path, :class =>"nav-links" %>
      </li>
      <li>
        <%= link_to "Posts", new_post_path, :class =>"nav-links" %>
      </li>
      <li>
        <%= link_to "Messenger",  user_chats_path(session[:user_id]), :class =>"nav-links" %>
        </li>
      <li>
        <%= link_to "Account", user_path(session[:user_id]), :class =>"nav-links" %>
      </li>
      <li>
        <%= link_to "Logout", "/logout", :class =>"nav-links", method: :delete %>
      </li>
    </ul>
  </nav>

  <% end %>



<script>
let mainNav = document.getElementById("js-menu");
let navBarToggle = document.getElementById("js-navbar-toggle");

navBarToggle.addEventListener("click", function() {
  mainNav.classList.toggle("active");
});

</script>
